// base-font
$baseFontSettings: (
  baseFont: ('Comfortaa', sans-serif),
  baseFontSize: 20px,
  baseFontColor: #2f2f2f,
);

// main-page
$mainPageSettings: (
  mainBackground: #ffffff,
);

// base-header
// $header: (
  
// );
