$breakingPoints: (
  wideScreen: 2560px,
  standartScreen: 1920px,
  laptopScreen: 1440px,
  lowLaptopScreen: 1024px,
  tabletScreen: 768px,
  bigSmartPhoneScreen: 425px,
  mediumSmartPhoneScreen: 375px,
  smallSmartPhoneScreen: 320px,
);

$baseFont: 'Comfortaa', sans-serif;

$baseFontSettings: (
  baseFont: $baseFont,
  baseFontSize: 20px,
  baseFontColor: #2f2f2f,
);

$mainPageSettings: (
  mainBackground: #ffffff,
);

$header: (
  headerBreakingPoints: (
    smallerLaptop: 1340px,
  ),
  veryBigFontSize: 1.6rem,
  bigFontSize: 1.2rem,
  standartFontSize: 0.8rem,
  orientationTop: 90px,
  oritntationLeft: 50%,
);
